/* head{
  width: 100%;  
}
body{
  margin: 50px,50px,50px,50px;
  width: 100%;  
  justify-content: center;
  display: block;
}
table{
  padding: auto;
  text-align: center;
  justify-content: center;
  width: 80%;
} 
*/

@font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url('./fonts/IM_Hyemin-Regular.ttf') format('ttf');
}

body {
    font-family: 'IM_Hyemin-Bold', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}